/*

Custom CSS
==========

Author: Peter Noble
Updated:  14 april 2014
Notes:	 

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

body {
	
	
}

footer {
	
}

#behind {
	
}

#title h1 {
	
}

#title h2 {

}

#title h3 {
	
}

#box {
	
	
}

#box h2 {
	
}

#features h1 {

}

#contentView {


}

#features {
	
}

footer a {
	
}

#text-box {

}

/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	font-size: 14px;
}

.c3 {
	font-weight: bold;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */


/* --------------------------------------
   Carousel
   -------------------------------------- */




/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */



/* Landscape phone to portrait tablet */


/* Large desktop */



