---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link href="https://plus.google.com/116783552013073604178" rel="publisher" />
    <meta property="fb:admins" content="1576181120" />

    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="Inspiration for Change" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:url" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
    <meta property="og:image" content="http://www.Inspirationforchange.co.uk/images/logo.png" />
    <meta property="og:type" content="website" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template
    <link href="/css/theme.css" rel="stylesheet">-->

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50966623-1', 'inspirationforchange.co.uk');
  ga('send', 'pageview');
</script>
	</head>

<body>
   <div class="container" style="background-color: white">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed btn-success" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html"><img src="/images/logo.png" alt="Inspiration for Colour logo"></a>
        </div>
       
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 <li><a type="button" class="btn btn-custom navbar-btn" href="/index.html">Home</a></li>
				<li><a type="button" class="btn btn-custom navbar-btn" href="/testimonials/">Testmonials</a></li>                          <li><a type="button" class="btn btn-custom navbar-btn" href="/about/">About</a></li>
				<li><a type="button" class="btn btn-custom navbar-btn" href="/contact/">Contact</a></li>
      </ul>
        </nav>
    </div>
	

    <!-- contents -->

				{{ content }}

	<!-- end contents -->

	<footer class="container">			
		<div class="row">
			<div class="col-sm-3">
				<h6>Copyright © 2014 Ann Noble</h6>
			</div><!-- end col-sm-2 -->
					
			<div class="col-sm-3">
				
				
			</div><!-- end col-sm-4 -->
					
			<div class="col-sm-2">
				
			</div><!-- end col-sm-2 -->
					
			<div class="col-sm-2">
				
			</div><!-- end col-sm-2 -->
		</div><!-- end row -->
	</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/bootstrap-hover-dropdown.js"></script>

</body>
</html>
