---
layout: default
---
   <div class="container">
    	<div class="row" id="box">
    	     <div class="col-md-6"">
    			{{ content }}
    	     </div>
    	     <div class="col-md-4 col-md-offset-1">
    	     <h4>Follow the conversation</h3>
          <ul class="nav nav-pills">
          <li>
            <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/inspirationforchange">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
        </ul>{% for row in site.data.layouts.sidebar %}
{% assign s = site.posts | size %}{% assign x = row.row | size %}{% assign columns = 12 | divided_by: x %}{% for c in row.row %}
{% assign col = s | minus: 1 | minus: c.story %}{% assign post = site.posts[col] %}
{% if c.title == true %}{% if c.link == true %}<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>{% else %}<h2>{{ post.title }}</h2>{% endif %}{% endif %}
{{ post[c.type] | markdownify }}
{% endfor %}
{% endfor %}                                    
          </div>
    	</div><!-- end row -->
    </div>
