---
layout: default
---



    <div class="container">
    	<div class="row" id="box">
    	     <div class="col-md-6"">
    			{{ content }}
    	     </div>
    	     <div class="col-md-4 col-md-offset-1">
    	     <h4>Follow the conversation</h3>
          <ul class="nav nav-pills">
          <li>
            <a class="btn btn-social-icon btn-facebook" href="https://facebook.com/inspirationforchange">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
        </ul>
    	{% for page in site.pages %}{% if page.title == 'sidebar' %}{{ page.content | markdownify }}{% endif %}{% endfor %}
            </div>
    	</div><!-- end row -->
    </div>


